.login {
  color: black;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  /* padding: 100px; */
  position: relative;
}

.layoutWelcome {
  /* width: 128vh; */
  width: 111vh;
  height: 126vh;
  position: relative;
  top: -168px;
  /* left: -504px; */
  left: -288px;
  background-color: antiquewhite;
  transform: rotate(326deg);
  border-radius: 280px;
  background-image: url("../assets/img/Bruschetta.jpg");
  background-position: top left, center center, bottom right;
  background-size: 50%, cover;
  box-shadow: 20px 40px 100px #263159;
}

.login-form {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-item {
  position: absolute;
  top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-item p {
  padding: 50px;
  font-size: 3rem;
  font-weight: 700;
  color: #334070;
}

input {
  padding: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #263159;
  width: 25rem;
  font-size: 20px;
}

input:focus {
  outline: none;
  border-bottom: 3px solid #263159;
}

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-group i {
  position: absolute;
  right: 0;
  top: 50px;
  color: #334070;
}

.input-group .icon-item {
  display: flex;
  flex-direction: row;
}

.input-group .icon-item i:first-child {
  right: 10%;
  cursor: pointer;
}

.input-group span {
  color: red;
}
label {
  display: flex;
  color: #2631598a;
  font-weight: 500;
}

.login-item div:last-child {
  justify-content: center;
  display: flex;
}

.button-login {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 20px 10rem;
  border: none;
  border-radius: 40px;
  font-size: 1.2rem;
  background-color: #334070;
  color: white;
}

.button-login a {
  text-decoration: none;
  color: white;
}

.button-login:hover {
  background-color: #263159;
}
